<html lang="en">

    <head>
        <%- include("./partials/header.ejs") %>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>
        <!-- navbar -->
        <nav class="navbar text-green mt-4 mb-4">
            <div class="container">
                <h1 class="site-title">SCSS</h1>
                <ul class="display-f">
                    <li class="ml-1 text-hover-white"> <a href="">Work</a> </li>
                    <li class="ml-1 text-hover-white"> <a href="">About Us</a> </li>
                </ul>
            </div>
        </nav>
        <!-- card content  -->
        <div class="container">
            <h1>Cards</h1>
            <div class="card">
                <div class="card-title">Marry Christmas</div>
                <p class="card-body text-yellow text-hover-green">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, aperiam recusandae. Quis, modi
                    suscipit reiciendis atque quo odit consequuntur saepe nihil laborum labore, rerum, non assumenda?
                    Dolores maiores ab numquam?
                </p>
            </div>

            <!-- Buttons -->
            <hr class="mt-4 mb-4">

            <h1> Buttons </h1>
            <a href="" class="btn">Click</a>
            <a href="" class="btn-red">Click</a>
            <a href="" class="btn-outline-red">Click</a>

            <hr class="mt-4 mb-4">
            <!-- Grid systems -->
            <h1>Grid system</h1>

            <div class="row gap-2 justify-center">
                <div class="col-12-xs col-5-sm col-3-xl">
                    <div class="card">
                        <div class="card-title">
                            Hello
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, vel! Dolorem, atque.
                            Voluptates, adipisci odit omnis necessitatibus accusamus unde inventore. Repellendus ullam
                            neque, officiis excepturi delectus fuga quia quaerat placeat.
                        </div>
                    </div>
                </div>
                <div class="col-12-xs col-5-sm col-3-xl">
                    <div class="card">
                        <div class="card-title">
                            Hello
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, vel! Dolorem, atque.
                            Voluptates, adipisci odit omnis necessitatibus accusamus unde inventore. Repellendus ullam
                            neque, officiis excepturi delectus fuga quia quaerat placeat.
                        </div>
                    </div>
                </div>
                <div class="col-12-xs col-5-sm col-3-xl">
                    <div class="card">
                        <div class="card-title">
                            Hello
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, vel! Dolorem, atque.
                            Voluptates, adipisci odit omnis necessitatibus accusamus unde inventore. Repellendus ullam
                            neque, officiis excepturi delectus fuga quia quaerat placeat.
                        </div>
                    </div>
                </div>
                <div class="col-12-xs col-5-sm col-3-xl">
                    <div class="card">
                        <div class="card-title">
                            Hello
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, vel! Dolorem, atque.
                            Voluptates, adipisci odit omnis necessitatibus accusamus unde inventore. Repellendus ullam
                            neque, officiis excepturi delectus fuga quia quaerat placeat.
                        </div>
                    </div>
                </div>
                <div class="col-12-xs col-5-sm col-3-xl">
                    <div class="card">
                        <div class="card-title">
                            Hello
                        </div>
                        <div class="card-body">
                            <img src="images/background.jpg" style="overflow: hidden; border-radius: 50px; object-fit: cover;" alt="">

                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, vel! Dolorem, atque.
                            Voluptates, adipisci odit omnis necessitatibus accusamus unde inventore. Repellendus ullam
                            neque, officiis excepturi delectus fuga quia quaerat placeat.
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-4">
        </div>
    </body>

</html>