.flex-layout{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


.navbar{
    @extend .flex-layout;
    padding: $base-padding $base-padding * 2;
    box-shadow: $box-shadow;

    .site-title{
        font-size: $font-size-lg;
    }
}